<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/burger"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MealPlaner"
        tools:targetApi="31">
        <activity
            android:name=".Profile.View.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Search.MealSearch.MealSearchActivity"
            android:exported="false" />
        <activity
            android:name=".Search.FlagSearch.View.CountryData"
            android:exported="false" />
        <activity
            android:name=".Search.FlagSearch.View.FlagActivity"
            android:exported="false" />
        <activity
            android:name=".Search.HomeSearchPage.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".IngridiantData.IngridiantActivity"
            android:exported="false" />
        <activity
            android:name=".Search.Ingrediant.View.IngrediantSearch"
            android:exported="false" />
        <activity
            android:name=".Calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".FavouriteMeals.View.FavouriteMealActivity"
            android:exported="false" />
        <activity
            android:name=".Search.HomeSearchPage.SearchmMethodsActivity"
            android:exported="false" />
        <activity
            android:name=".Meal.View.MealData"
            android:exported="false" />
        <activity
            android:name=".Category.View.CategoryData"
            android:exported="false" />
        <activity
            android:name=".Search.Category.View.CategorySearch"
            android:exported="false" />
        <activity
        android:name=".HomePage.View.FaceBook"
        android:exported="false" />
        <activity
            android:name=".OnBoardind.View.OnBoarding"
            android:exported="false" />
        <activity
            android:name=".Login.View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomePage.View.MainActivity"
            android:exported="true" />


        <activity
            android:name=".SplashScree.View.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

    </application>

</manifest>